/*
 Theme Name:     Baglioni Hotels New
 Description:    Theme for Baglioni Hotels
 Author:         Anteria
 Author URI:     https://www.anteria.eu
 Template:       hotelbooking
 Version:        1.0
*/


/* Main Content
-------------------------------------------------------------- */

body {
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.btn-blue {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    background-color: #292e46;
    color: #ffffff !important;
    display: inline-block;
}

.btn-beige {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    background-color: #a29c88;
    color: #ffffff !important;
    display: inline-block;
}

.back-btn {
    padding-left: 40px !important;
    position: relative;
}

.back-btn:before {
    content: '\e605';
    font-family: 'simple-line-icons';
    font-size: 10px;
    position: absolute;
    left: 12px;
    display: inline-block;
}

.center-mobile {
    text-align: center !important;
}

.center-mobile-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gold-text {
    color: #a29c88 !important;
}

.align-center {
    text-align: center !important;
}

.no-float {
    float: none !important;
}

.hidden-mobile {
    display: none !important;
}

.hidden-tablet {
    display: none !important;
}

.hidden-column-tablet {
    display: none !important;
}

.nd_options_customizer_fonts,
.nd_options_customizer_fonts .nd_options_second_font,
.nd_options_customizer_fonts p,
.nd_options_customizer_fonts a,
.nd_options_customizer_fonts select,
.nd_options_customizer_fonts textarea,
.nd_options_customizer_fonts label,
.nd_options_customizer_fonts input {
    font-family: 'Open Sans', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif !important;
}

.color-sbiadito {
    color: #878787 !important;
}

.italic {
    font-style: italic;
}

.title {
    font-family: 'Cinzel', serif;
}

.wpb_content_element {
    margin-bottom:0 !important;
}

.black {
    color:black;
}

#nd_options_navigation_2_top_header .nd_options_container > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#nd_options_navigation_top_header_2_right > .nd_options_padding_10_20 {
    background-color: #A29C88 !important;
    height: 31px;
}

.nd_options_navigation_2 div li a {
    font-size: 14px !important;
}

.display-mobile {
    display:none;
}

.overflow-visible {
    overflow: visible !important;
}

.col-33 {
    width: 33.3%;
    padding: 0 15px;
    box-sizing: border-box;
}

.col-70 {
    float: left;
    width:70%;
}

.col-30 {
    float: left;
    width:30%;
}

.col-25 {
    float: left;
    width:25%;
    box-sizing: border-box;
    padding: 0 15px;
}

.col-50 {
    float: left;
    width:50%;
    box-sizing: border-box;
    padding: 0 15px;
}

.center-block {
    display:block;
    margin: auto;
}

.nd_options_customizer_forms input[type="submit"], .nd_options_customizer_forms button[type="submit"] {
    background-color: #A29C88 !important;
}

.vc_custom_1501663038384 {
    /*display:none;*/
}

.nd_booking_masonry_content h1 {
    font-weight:100;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:100;
}

#nd_booking_archive_cpt_1_single_1223 p {
    font-family: 'Cinzel', serif;
}

.tp-bullets > .selected {
    background-color: #A29C88 !important;
}

.tp-bullet {
    background-color: white !important;
}


.input-newsletter {
    margin:10px 0; 
    width:100%;
    border-radius: 100px;
}

.font-weight-bold {
	font-weight: bold;
}

.background-cover {
	background-repeat: no-repeat;
	background-size:cover;
}

.back-position-bottom {
    background-position-y: bottom;
}

@media only screen and (min-width: 370px) and (max-width: 479px) {
    .nd_options_container {
        width: 340px;
    }
}

@media only screen and (max-width: 479px) {
    .font-title-mobile {
        font-size: 30px !important;
        line-height: 38px !important;
    }

    .font-title-mobile-small {
        font-size: 22px !important;
        line-height: 30px !important;
    }
}

@media only screen and (min-width: 768px) {
    .block-not-mobile {
        display: block;
    }

    .center-mobile {
        text-align: inherit !important;
    }

    .center-mobile-block {
        margin-left: 0;
        margin-right: 0;
        display: inherit;
    }

    .visible-mobile {
        display: none;
    }

    .hidden-mobile {
        display: block !important;
    }
}

@media only screen and (max-width: 991px) {
    .full-width-tablet {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .visible-tablet {
        display: none !important;
    }

    .hidden-tablet {
        display: block !important;
    }

    .hidden-column-tablet {
        display: flex !important;
    }
}

@media only screen and (min-width: 1400px) {
    .column-slider-bg {
        max-height: 640px;
        overflow: hidden;
    }
}



/* Header
-------------------------------------------------------------- */

#nd_options_navigation_2_container > div {
    line-height: 14px;
}

.menu a {
    font-family: 'Open Sans', Helvetica, sans-serif !important;
}

#toggle-mobile-button {
    top: 34px;
    right: 40px;
    position: absolute;
    display: inline-block;
}

#toggle-mobile-button:hover {
    cursor: pointer;
}

#nd_options_navigation_2_container ul.menu,
#nd_options_navigation_2_sticky_container ul.menu {
    margin-right: 60px;
}

#nd_options_navigation_2_container ul.menu > li,
#nd_options_navigation_2_sticky_container ul.menu > li {
    padding: 0 8px;
}

#nd_options_navigation_2_container ul.menu > li > a,
#nd_options_navigation_2_sticky_container ul.menu > li > a {
    padding-bottom: 4px;
}

#nd_options_navigation_2_container ul.menu > li.current-menu-item a,
#nd_options_navigation_2_sticky_container ul.menu > li.current-menu-item a {
    border-bottom: 2px solid #a29c88;
}

#nd_options_navigation_2_container ul.menu ul.sub-menu > li {
   box-shadow: none;
}

.nd_options_navigation_2_sidebar li a {
    padding: 4px 0 !important;
    text-transform: none;
}

.nd_options_navigation_2_sidebar div > ul > li {
    padding-bottom: 10px !important;
}

.nd_options_navigation_2_sidebar div ul.menu li > a {
    font-size: 18px;
}

.nd_options_height_50 {
    display: none;
}

.background-book-now {
    margin-left: 8px;
    background-color: #a29c88;
    padding: 7px 10px !important; 
}

.nd_options_navigation_2 div > ul > li:after {
    display: none !important;
}

.nd_options_navigation_2_sidebar div ul.menu li > a[href="#"] {
    cursor: text;
}

/* WPML */

.wpml-ls-display {
    display: none;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.display-desktop {
    display:block;
}

.margin-30-mobile {
    margin-top:0;
}

.uppercase {
    text-transform: uppercase;
}

.wpml-ls-statics-shortcode_actions {
    text-align:center;
}

/* SLICK */

.branche-rooms:focus {
    border:none;
    outline: none;
}

.slick-prev, .slick-next {

  background-color: white!important;

}

@media only screen and (max-width: 767px) {

    .margin-30-mobile {
        margin-top:30px;
    }

    .exclusive-experiences p {
        font-size: 40px !important;
        line-height:40px !important;
    }

    .col-33 {
        width:100%;
        padding:0;
    }

    .col-25 {
        width:100%;
        padding:0;
    }

}

@media only screen and (max-width: 1000px) {

    .col-70 {
        float: left;
        width:100%;
    }
    
    .col-30 {
        float: left;
        width:100%;
    }

    .display-desktop {
        display:none;
    }

    .display-mobile {
        display:block;
    }

}

/*@media only screen and (max-width: 479px) and (min-width: 320px) {

    .nd_options_container {
        width: 320px;
    }

}*/

@media only screen and (min-width: 1200px) {
    #nd_options_navigation_2_container > div {
        line-height: 27px;
    }
}

@media only screen and (min-width: 1400px) {
    #nd_options_navigation_2_container ul.menu,
    #nd_options_navigation_2_sticky_container ul.menu {
        margin-right: 0;
    }
}


/* Footer
-------------------------------------------------------------- */

#footer {
    padding: 0;
    background-color: #292e46;
    color: #cBc6b9;
    font-size: 13px;
}

#footer a {
    color: #cBc6b9;
}

#footer .footer-main {
    padding: 10px 0 20px 0;
}

#footer .footer-menu {
    padding-left: 0;
    list-style: none;
}

#footer .footer-menu:after {
    content: '';
    display: block;
    clear: both;
}

#footer .footer-menu li {
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
}

#footer .footer-menu a {
    font-weight: 100;
    font-family: 'Cinzel', serif !important;
    color: #CBC6B9 !important;
    font-size: 15px;
    text-align: center;
}

#footer .footer-columns {
    margin: 60px -15px 0 -15px;
}

#footer .footer-columns:after {
    content: '';
    display: block;
    clear: both;
}

#footer .footer-column {
    margin-bottom: 40px;
    padding: 15px;
    padding-bottom: 0;
    box-sizing: border-box;
}

#footer .footer-column:first-of-type {
    padding-top: 0;
}

#footer .footer-column-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
    color: #cbc6b9;
}

#footer-logo {
    width: 250px;
    height: auto;
    max-width: 100%;
}

#footer .footer-data {
    margin-top: 50px;
}

#footer .footer-destinations-menu:after {
    content: '';
    display: block;
    clear: both;
}

#footer .footer-destinations-menu {
    padding: 0;
    list-style: none;
}

#footer .footer-destinations-menu li {
    width: 50%;
    padding: 4px;
    float: left;
    box-sizing: border-box;
}

#footer .footer-social-bar {
    padding-top: 20px;
    background-color: #19233e;
}

#footer .footer-social-bar:after {
    content: '';
    display: block;
    clear: both;
}

#footer .footer-social-bar-label {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

#footer .footer-social-bar-icon,
#footer .footer-social-bar-image {
    margin-left: 12px;
    display: inline-block;
    vertical-align: middle;
}

#footer .footer-social-bar-icon img {
    width: 26px;
    height: auto;
    margin-top: -5px;
    vertical-align: middle;
}

#footer .footer-social-bar-left {
    line-height: 58px;
}

#footer .footer-social-bar-left,
#footer .footer-social-bar-right {
    margin-bottom: 20px;
}

#footer .footer-bottom-bar {
    padding-top: 20px;
    background-color: #a49d83;
}

#footer .footer-bottom-bar-columns {
    margin: 0 -15px;
}

#footer .footer-bottom-bar-columns:after {
    content: '';
    display: block;
    clear: both;
}

#footer .footer-bottom-bar-title {
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    color: #ffffff;
}

#footer .footer-bottom-bar-column {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

#footer .footer-bottom-bar-menu {
    padding: 0;
    list-style: none;
}

#footer .footer-bottom-bar-menu li {
    margin-bottom: 15px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
}

#footer .footer-bottom-bar-menu li a {
    color: #19233e;
}

#footer .footer-bottom-bar-logo {
    width: 180px;
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 480px) {
    #footer .footer-menu li {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    #footer .footer-column {
        width: 33.333333333%;
        float: left;
    }

    #footer .footer-bottom-bar-column {
        width: 50%;
    }
}

@media only screen and (min-width: 960px) {
    #footer .footer-menu li {
        width: 33.333333333%;
    }
}

@media only screen and (min-width: 1200px) {
    #footer .footer-menu li {
        width: 16.666666666%;
    }

    #footer .footer-menu li:nth-child(1) {
        width: 20.666666666%;
        text-align: left;
    }

    #footer .footer-menu li:nth-child(2) {
        width: 14.666666666%;
    }

    #footer .footer-menu li:nth-child(4) {
        width: 20.666666666%;
    }

    #footer .footer-menu li:nth-child(6) {
        width: 17.666666666%;
    }

    #footer .footer-menu li:nth-child(6) {
        width: 10.666666666%;
        text-align: right;
    }

    #footer .footer-destinations-menu li {
        width: 25%;
    }

    #footer .footer-destinations-menu li:nth-child(4n) {
        text-align: right;
    }

    #footer .footer-social-bar-left {
        float: left;
    }

    #footer .footer-social-bar-right {
        float: right;
    }

    #footer .footer-bottom-bar-column {
        width: 25%;
    }
}


/* Posts Grid
-------------------------------------------------------------- */

.posts-grid .post {
    border: 1px solid #f1f1f1;
}

.posts-grid .post .post-thumbnail {
    line-height: 0;
}

.posts-grid .post .post-thumbnail img {
    width: 100%;
    height: auto;
}

.posts-grid .post .post-data {
    padding: 30px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ffffff;
}

.posts-grid .post .post-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 24px;
}

.posts-grid .post .post-excerpt {
    text-align: justify;
}

.posts-grid .post-button {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.posts-grid .post-button a {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
}


/* Offers Grid
-------------------------------------------------------------- */

.offers-grid .offer {
    border: 1px solid #f1f1f1;
}

.offers-grid .offer .offer-thumbnail {
    line-height: 0;
}

.offers-grid .offer .offer-thumbnail img {
    width: 100%;
    height: auto;
}

.offers-grid .offer .offer-data {
    padding: 30px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ffffff;
}

.offers-grid .offer .offer-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 24px;
}

.offers-grid .offer .offer-excerpt {
    text-align: justify;
}

.offers-grid .offer-bottom {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.offers-grid .offer-button {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
}


/* Restaurants Grid
-------------------------------------------------------------- */

.restaurants-grid .restaurant {
    border: 1px solid #f1f1f1;
}

.restaurants-grid .restaurant .restaurant-thumbnail {
    line-height: 0;
    position: relative;
}

.restaurants-grid .restaurant .restaurant-thumbnail img {
    width: 100%;
    height: auto;
}

.restaurants-grid .restaurant-thumbnail-title {
    padding: 8px 12px;
    bottom: 20px;
    position: absolute;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    letter-spacing: 2px;
}

.restaurants-grid .restaurant .restaurant-data {
    padding: 30px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ffffff;
}

.restaurants-grid .restaurant .restaurant-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 24px;
}

.restaurants-grid .restaurant .restaurant-excerpt {
    text-align: justify;
}

.restaurants-grid .restaurant-bottom {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.restaurants-grid .restaurant-button {
    padding: 15px 25px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
    float: left;
}

.restaurants-grid .restaurant-full-info {
    font-size: 12px;
    line-height: 42px;
    color: #878787;
    text-transform: uppercase;
    float: right;
}

.restaurants-grid .restaurant-full-info:after {
    margin-left: 5px;
    padding: 4px;
    content: '';
    display: inline-block;
    border: solid #878787;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* Rooms Grid
-------------------------------------------------------------- */

.rooms-grid .room {
    border: 1px solid #f1f1f1;
}

.rooms-grid .room .room-thumbnail {
    line-height: 0;
}

.rooms-grid .room .room-thumbnail img {
    width: 100%;
    height: auto;
}

.rooms-grid .room .room-data {
    padding: 30px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ffffff;
}

.rooms-grid .room .room-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 24px;
}

.rooms-grid .room .room-excerpt {
    text-align: justify;
}

.rooms-grid .room-bottom {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.rooms-grid .room-button {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
    float: left;
}

.rooms-grid .room-price {
    font-family: 'Cinzel', serif;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    float: right;
}

.rooms-grid .room-price .price {
    font-size: 24px;
    line-height: 32px;
    color: #1c1c2c;
    display: block;
}


/* Navigation
-------------------------------------------------------------- */

.navigation .previous {
    float: left;
}

.navigation .next {
    float: right;
}


/* Homepage
-------------------------------------------------------------- */

.background-togetherness {
    padding-top: 10px;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 480px) {
    .background-togetherness {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .background-togetherness {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .background-togetherness {
        padding-top: 120px;
        padding-bottom: 120px;
        background-size: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    .background-togetherness {
        background-position-y: -80px; 
    }
}

@media only screen and (min-width: 1600px) {
    .background-togetherness {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}

@media only screen and (min-width: 1920px) {
    .background-togetherness {
        padding-top: 180px;
        padding-bottom: 180px;
        background-position-y: -100px; 
    }
}

@media only screen and (min-width: 2560px) {
    .background-togetherness {
        padding-top: 240px;
        padding-bottom: 240px;
        background-position-y: -140px; 
    }
}


/* Branch
-------------------------------------------------------------- */

.gourmet-multiple-btn .nice-select {
    height: 41px !important;
    padding-top: 11px !important;
}


/* Single Post
-------------------------------------------------------------- */

.single-post .post-thumbnail img {
    width: 100%;
    height: auto;
}

.single-post .post-content p {
    margin-bottom: 15px;
}


/* Single Room
-------------------------------------------------------------- */

.single-room .room-title-bg {
    position: relative;
}

.single-room .price-from {
    padding-right: 32px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Cinzel', serif;
    color: #ffffff;
    text-align: right;
    text-transform: uppercase;
}

.single-room .room-price {
    padding-right: 32px;
    font-size: 42px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
}

.single-room .room-title-links {
    margin-top: 30px;
}

.single-room .room-title-links:after {
    content: '';
    display: block;
    clear: both;
}

.single-room .room-title-links .room-title-link {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    float: left;
    box-sizing: border-box;
}

.single-room .room-title-link:nth-child(1) {
    width: 15%;
    text-align: left;
}

.single-room .room-title-link:nth-child(2) {
    width: 27%;
    text-align: center;
}

.single-room .room-title-link:nth-child(3) {
    width: 36%;
    text-align: center;
}

.single-room .room-title-link:nth-child(4) {
    width: 22%;
    text-align: right;
}

.single-room .room-title {
    margin-bottom: 15px;
    font-family: 'Cinzel', serif;
    font-size: 36px;
    line-height: 36px;
    color: #1c1c1c;
}

.single-room .room-branch {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #878787;
    text-transform: uppercase;
}

.single-room .room-items {
    margin-top: 45px;
}

.single-room .room-items:after {
    content: '';
    display: block;
    clear: both;
}

.single-room .item {
    float: left;
    text-align: center;
}

.single-room .item-100 {
    width: 100%;
}

.single-room .item-50 {
    width: 50%;
}

.single-room .item-33 {
    width: 33.333333333%;
}

.single-room .item-25 {
    width: 25%;
}

.single-room .item-20 {
    width: 20%;
}
.single-room .item img {
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
}

.single-room .item-description {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.single-room .divisor-line {
    height: 2px;
    margin: 30px 0;
    background-color: #ebebeb;
}

.single-room .room-content p {
    margin-bottom: 20px;
}

.single-room .specifications-title {
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 20px;
}

.single-room .specifications {
    padding-left: 20px;
}

.single-room .specifications-notes {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    line-height: 20px;
    color: #1c1c1c;
}

.single-room .specifications-notes-icon:after {
    content: '';
    display: block;
    clear: both;
}

.single-room .specifications-notes-icon .note-icon {
    width: 6%;
    float: left;
}

.single-room .specifications-notes-icon .note-description {
    width: 94%;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}

.single-room .specifications-notes-icon .note-icon img {
    width: 100%;
    height: auto;
    display: block;
}

.single-room .my-baglioni-logo {
    width: 260px;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

.single-room .my-baglioni-description {
    margin-bottom: 20px;
    text-align: justify;
}

.single-room #around-the-hotel {
    background-color: #f5f5f5;
}

.single-room .room-section-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 28px;
    line-height: 28px;
}

.single-room .around-the-hotel-box {
    position: relative;
}

.single-room .around-the-hotel-box img {
    width: 100%;
    height: auto;
}

.single-room .around-the-hotel-box-description {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    position: absolute;
    left: 30px;
    bottom: 40px;
    text-shadow: 2px 2px #1c1c1c;
}


/* Single Experience
-------------------------------------------------------------- */

.single-experience .experience-city {
    color: #a29c88;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.single-experience .experience-city:after {
    width: 30px;
    height: 1px;
    margin: 10px 0 15px 0;
    background-color: #a29c88;
    content: '';
    display: block;
}

.single-experience .experience-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    line-height: 30px;
}

.single-experience .experience-subtitle {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.single-experience .experience-image {
    width: 100%;
    height: auto;
}

.single-experience .experience-items {
    margin-top: 30px;
}

.single-experience .experience-items:after {
    content: '';
    display: block;
    clear: both;
}

.single-experience .item {
    float: left;
    text-align: center;
}

.single-experience .item-100 {
    width: 100%;
}

.single-experience .item-50 {
    width: 50%;
}

.single-experience .item-33 {
    width: 33.333333333%;
}

.single-experience .item-25 {
    width: 25%;
}

.single-experience .item-20 {
    width: 20%;
}
.single-experience .item img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.single-experience .item-description {
    text-transform: uppercase;
}

.single-experience .divisor-line {
    height: 2px;
    margin: 30px 0;
    background-color: #ebebeb;
}

.single-experience .experience-content p {
    margin-bottom: 20px;
}

.single-experience .specifications {
    padding-left: 20px;
}


/* Single Restaurant
-------------------------------------------------------------- */

.column-with-overlay {
    position: relative;
}

.column-with-overlay:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}


/* Sidebar Elements
-------------------------------------------------------------- */

.my-baglioni-logo {
    width: 260px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.my-baglioni-description {
    margin-bottom: 20px;
    text-align: justify;
}

.sidebar-others-title {
    margin-bottom: 25px;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    line-height: 18px;
}

.sidebar-other {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
}

.sidebar-other:after {
    content: '';
    display: block;
    clear: both;
}

.sidebar-other-image {
    width: 30%;
    float: left;
    line-height: 0;
}

.sidebar-other-image img {
    width: 100%;
    height: auto;
}

.sidebar-other-data {
    width: 70%;
    padding-left: 25px;
    float: left;
    position: relative;
    box-sizing: border-box;
}

.sidebar-other-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    line-height: 18px;
}

.sidebar-other-description {
    margin-bottom: 10px;
}

.siderbar-other-view-more {
    padding: 8px 16px;
    background-color: #292e46;
    color: #ffffff !important;
    font-size: 11px;
    line-height: 11px; 
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 25px;
}


/* Visual Composer - Slider Rooms
-------------------------------------------------------------- */

.slider-rooms,
.slider-rooms * {
    outline: 0;
}


.slider-rooms .branch-image {
    width: auto;
    height: 80px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

.slider-rooms .branch-location {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
}

.slider-rooms .branch-location:after {
    width: 30px;
    height: 1px;
    margin: 10px auto;
    background-color: #878787;
    content: '';
    display: block;
}

.slider-rooms .branch-title {
    margin-bottom: 24px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
    text-align: center;
    color: #878787;
    text-transform: uppercase;
}

.slider-rooms .best-suites-title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
}

.slider-rooms .best-suites-subtitle {
    text-align: center;
}

.slider-rooms .rooms {
    margin: 32px 0;
}

.slider-rooms .rooms:after {
    content: '';
    display: block;
    clear: both;
}

.slider-rooms .row {
    margin: 0 -15px;
}

.slider-rooms .column {
     padding: 0 15px;
     box-sizing: border-box;
}

.slider-rooms .main-room .room {
    border: 1px solid #f1f1f1;
    display: none;
}

.slider-rooms .main-room .room:first-of-type {
    display: block;
}

.slider-rooms .main-room .room-image {
    height: 245px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider-rooms .room {
    margin-bottom: 30px;
}

.slider-rooms .room-image {
    position: relative;
}

.slider-rooms .room.active .room-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.slider-rooms .room-image img {
    width: 100%;
}

.slider-rooms .room-image-title {
    padding: 10px 30px;
    left: 0;
    right: 0;
    bottom: 20px;
    position: absolute;
    font-family: 'Cinzel', serif;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    letter-spacing: 2px;
}

.slider-rooms .room.active .room-image-title {
    background: none;
}

.slider-rooms .room-location {
    margin-top: 8px;
    font-weight: bold;
    display: block;
}

.slider-rooms .room-data {
    padding: 25px 30px;
    background-color: #ffffff;
}

.slider-rooms .room-branch {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #a29c88;
}

.slider-rooms .room-title {
    height: 32px;
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 100;
    line-height: 32px;
    overflow: hidden;
}

.slider-rooms .room-details {
    margin-bottom: 10px;
}

.slider-rooms .room-details:after {
    content: '';
    display: block;
    clear: both;
}

.slider-rooms .room-detail {
    margin-left: 20px;
    float: left;
}

.slider-rooms .room-detail:first-of-type {
    margin-left: 0;
}

.slider-rooms .room-detail img {
    height: auto;
    max-width: 100%;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.slider-rooms .room-detail p {
    display: inline-block;
    vertical-align: middle;
}

.slider-rooms .room-detail sup {
    font-size: 8px;
}

.slider-rooms .room-description {
    margin-bottom: 15px;
    min-height: 72px;
    font-size: 14px;
    line-height: 24px;
    color: #878787;
}

.slider-rooms .room-data-bottom:after {
    content: '';
    display: block;
    clear: both;    
}

.slider-rooms .room-button {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
    float: left;
}

.slider-rooms .room-price {
    font-family: 'Cinzel', serif;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    float: right;
}

.slider-rooms .room-price .price {
    font-size: 24px;
    line-height: 32px;
    color: #1c1c2c;
    display: block;
}

.slider-rooms .slick-arrow {
    width: 22px;
    height: 40px;
    top: 62%;
    background-color: transparent !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.slider-rooms .slick-arrow:before {
    content: '';
}

.slider-rooms .slick-prev {
    left: -45px;
    background-image: url('images/arrow-left.png');
}

.slider-rooms .slick-next {
    right: -45px;
    background-image: url('images/arrow-right.png');
}

@media only screen and (min-width: 480px) {
    .slider-rooms .best-suites-title {
        font-size: 45px;
        line-height: 45px;
    }
}

@media only screen and (min-width: 768px) {
    .slider-rooms .slick-arrow {
        display: block;
    }

    .slider-rooms .other-rooms .column {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 1200px) {
    .slider-rooms .column {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 1400px) {
    .slider-rooms .slick-prev {
        left: -70px;
    }

    .slider-rooms .slick-next {
        right: -70px;
    }
}


/* Visual Composer - Experiences Slider
-------------------------------------------------------------- */

.slider-experiences,
.slider-experiences * {
    outline: 0;
}

.slider-experiences .category-title {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    color: #878787;
    text-transform: uppercase;
}

.slider-experiences .category-title:after {
    width: 30px;
    height: 1px;
    margin: 8px auto 24px auto;
    background-color: #878787;
    content: '';
    display: block;
}

.slider-experiences .exclusive-experiences-title {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;

}

.slider-experiences .exclusive-experiences-subtitle {
    text-align: center;
}

.slider-experiences .experiences {
    margin: 32px 0;
}

.slider-experiences .experiences:after {
    content: '';
    display: block;
    clear: both;
}

.slider-experiences .row {
    margin: 0 -15px;
}

.slider-experiences .column {
     padding: 0 15px;
     box-sizing: border-box;
}

.slider-experiences .main-experience .experience {
    border: 1px solid #f1f1f1;
    display: none;
}

.slider-experiences .main-experience .experience:first-of-type {
    display: block;
}

.slider-experiences .main-experience .experience-image {
    height: 244px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider-experiences .experience {
    margin-bottom: 30px;
}

.slider-experiences .experience-image {
    position: relative;
}

.slider-experiences .experience.active .experience-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.slider-experiences .experience-image img {
    width: 100%;
}

.slider-experiences .experience-image-title {
    padding: 10px 30px;
    bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;
    font-family: 'Cinzel', serif;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    letter-spacing: 2px;
}

.slider-experiences .experience.active .experience-image-title {
    background: none;
}

.slider-experiences .experience-location {
    margin-top: 8px;
    font-weight: bold;
    display: block;
}

.slider-experiences .experience-data {
    padding: 25px 30px;
    background-color: #ffffff;
}

.slider-experiences .experience-city {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #a29c88;
}

.slider-experiences .experience-title {
    height: 32px;
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 100;
    line-height: 32px;
    overflow: hidden;
}

.slider-experiences .experience-details {
    margin-bottom: 10px;
}

.slider-experiences .experience-details:after {
    content: '';
    display: block;
    clear: both;
}

.slider-experiences .experience-detail {
    margin-left: 20px;
    float: left;
    text-transform: uppercase;
}

.slider-experiences .experience-detail:first-of-type {
    margin-left: 0;
}

.slider-experiences .experience-detail img {
    height: auto;
    max-width: 100%;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.slider-experiences .experience-detail p {
    display: inline-block;
    vertical-align: middle;
}

.slider-experiences .experience-detail sup {
    font-size: 8px;
}

.slider-experiences .experience-description {
    margin-bottom: 15px;
    min-height: 72px;
    font-size: 14px;
    line-height: 24px;
    color: #878787;
}

.slider-experiences .experience-button {
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
}

.slider-experiences .slick-arrow {
    width: 22px;
    height: 40px;
    top: 57%;
    background-color: transparent !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.slider-experiences .slick-arrow:before {
    content: '';
}

.slider-experiences .slick-prev {
    left: -45px;
    background-image: url('images/arrow-left.png');
}

.slider-experiences .slick-next {
    right: -45px;
    background-image: url('images/arrow-right.png');
}

@media only screen and (min-width: 768px) {
    .slider-experiences .slick-arrow {
        display: block;
    }

    .slider-experiences .other-experiences .column {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 1200px) {
    .slider-experiences .column {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 1400px) {
    .slider-experiences .slick-prev {
        left: -70px;
    }

    .slider-experiences .slick-next {
        right: -70px;
    }
}



/* Visual Composer - Multiple Button
-------------------------------------------------------------- */

.multiple-button {
    display: inline-block;
}

.multiple-button .nice-select {
    height: auto;
    padding: 15px 40px;
    padding-right: 48px;
    background-color: #a29c88;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    font-family: 'Open Sans', Helvetica, sans-serif !important;
    font-size: 11px;
    font-weight: 100;
    line-height: normal;
    text-transform: uppercase;
}

.multiple-button .nice-select:after {
   border-color: #ffffff;
   right: 20px;
}

.multiple-button .nice-select.open .list {
    margin: 0;
    margin-top: 0px;
    left: 0;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 3px #a29c88;
    display: inline-block;
}

.multiple-button .nice-select .option:hover,
.multiple-button .nice-select .option.focus,
.multiple-button .nice-select .option.selected.focus {
    background-color: #ffffff;
}

.multiple-button .nice-select .option {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    min-height: 32px;
    font-size: 11px;
    line-height: 32px;
    font-weight: normal;
    color: #464646;
    border-bottom: 1px solid #959595;
}

.multiple-button .nice-select .option:first-of-type {
    display: none;
}

.multiple-button .nice-select .option:last-of-type {
    border-bottom: 0;
}


/* Visual Composer - Custom Box
-------------------------------------------------------------- */

.custom-box {
    border: 1px solid #f1f1f1;
}

.custom-box .custom-box-image {
    position: relative;
    line-height: 0;
}

.custom-box .custom-box-image img {
    width: 100%;
    height: auto;
}

.custom-box .custom-box-image-title {
    padding: 4px 24px;
    position: absolute;
    bottom: 25px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-transform: uppercase;
}

.custom-box .custom-box-data {
    padding: 25px;
    padding-bottom: 90px;
    background-color: #ffffff;
    position: relative;
    box-sizing: content-box;
}

.custom-box .custom-box-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 28px;
    color: #1c1c1c;
}

.custom-box .custom-box-title a {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 28px;
    color: #1c1c1c;
}

.custom-box .custom-box-description {
    font-size: 12px;
    line-height: 20px;
    color: #878787;
}

.custom-box .custom-box-bottom {
    left: 25px;
    bottom: 25px;
    position: absolute;
}

.custom-box .custom-box-bottom:after {
    content: '';
    display: block;
    clear: both;
}

.custom-box .custom-box-button {
    min-width: 190px;
    padding: 15px 25px;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

.custom-box .custom-box-full-info {
    font-size: 11px;
    line-height: 42px;
    color: #878787;
    text-transform: uppercase;
    float: right;
}

.custom-box .custom-box-full-info:after {
    margin-left: 5px;
    padding: 4px;
    content: '';
    display: inline-block;
    border: solid #878787;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}




/* Visual Composer - Experience Box / Carousel Experiences
-------------------------------------------------------------- */

.experience-box {
    border: 1px solid #f1f1f1;
}

.experience-box .experience-image {
    position: relative;
}

.experience-box .experience-image img {
    width: 100%;
    height: auto;
}

.experience-box .experience-image-title {
    padding: 4px 24px;
    position: absolute;
    bottom: 25px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-transform: uppercase;
}

.experience-box .experience-data {
    padding: 25px;
    background-color: #ffffff;
    box-sizing: content-box;
}

.experience-box .experience-title {
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 28px;
    color: #1c1c1c;
}

.experience-box .experience-title a {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 28px;
    color: #1c1c1c;
}

.experience-box .experience-details {
    margin-bottom: 10px;
}

.experience-box .experience-details:after {
    content: '';
    display: block;
    clear: both;
}

.experience-box .experience-detail {
    margin-left: 20px;
    float: left;
    text-transform: uppercase;
}

.experience-box .experience-detail:first-of-type {
    margin-left: 0;
}

.experience-box .experience-detail img {
    height: auto;
    max-width: 100%;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.experience-box .experience-detail p {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.experience-box .experience-detail sup {
    font-size: 8px;
}

.experience-box .experience-description {
    font-size: 12px;
    line-height: 20px;
    color: #878787;
}

.carousel-experiences-title {
    margin-bottom: 30px;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    line-height: 30px;
}

.carousel-experiences,
.carousel-experiences * {
    outline: 0;
}

.carousel-experiences.slick-slider {
    margin: 0 -12px 60px -12px;
}

.carousel-experiences .slick-track {
    float: left;
}

.carousel-experiences .slick-slide {
    margin: 0 12px;
}

.carousel-experiences .slick-dots {
    bottom: -40px;
}

.carousel-experiences .slick-dots li button:before {
    content: '\25A0';
    font-size: 32px;
}

.carousel-experiences .slick-dots li button[aria-label="1 of 0"],
.carousel-experiences .slick-dots li button[aria-label="1 of 1"] {
    display: none;
}

.carousel-experiences .slick-arrow {
    width: 22px;
    height: 40px;
    background-color: transparent !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.carousel-experiences .slick-arrow:before {
    content: '';
}

.carousel-experiences .slick-prev {
    left: -30px;
    background-image: url('images/arrow-left.png');
}

.carousel-experiences .slick-next {
    right: -30px;
    background-image: url('images/arrow-right.png');
}

@media only screen and (min-width: 1400px) {
    .carousel-experiences .slick-prev {
        left: -50px;
    }

    .carousel-experiences .slick-next {
        right: -50px;
    }
}


/* VC Suite Box / VC Carousel Suites
-------------------------------------------------------------- */

.carousel-suites,
.carousel-suites * {
    outline: 0;
}

.carousel-suites .suite-box {
    margin-bottom: 30px;
}

.carousel-suites .suite-box-image {
    position: relative;
}

.carousel-suites .suite-box-image img {
    width: 100%;
}

.carousel-suites .suite-box-image-title {
    padding: 4px 30px;
    bottom: 20px;
    position: absolute;
    font-family: 'Cinzel', serif;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    letter-spacing: 2px;
}

.carousel-suites .suite-box-data {
    padding: 30px;
    padding-bottom: 140px;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #f1f1f1;
}

.carousel-suites .suite-box-title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
}

.carousel-suites .suite-box-details {
    margin-bottom: 15px;
}

.carousel-suites .suite-box-details:after {
    content: '';
    display: block;
    clear: both;
}

.carousel-suites .suite-box-detail {
    margin-top: 10px;
}

.carousel-suites .suite-box-detail:first-of-type {
    margin-top: 0;
}

.carousel-suites .suite-box-detail img {
    height: auto;
    max-width: 100%;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.carousel-suites .suite-box-detail p {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.carousel-suites .suite-box-detail sup {
    font-size: 8px;
}

.carousel-suites .suite-box-description {
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #878787;
}

.carousel-suites .suite-box-bottom {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.carousel-suites .suite-box-button {
    width: 120px;
    margin: 0 auto;
    padding: 15px 40px;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    background-color: #292e46;
    color: #ffffff !important;
    display: block;
}

.carousel-suites .suite-box-price {
    margin-top: 10px;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.carousel-suites .suite-box-price .price {
    font-size: 24px;
    line-height: 32px;
    color: #1c1c2c;
    display: block;
}

.carousel-suites.slick-slider {
    margin: 0 -12px 60px -12px;
}

.carousel-suites .slick-slide {
    padding: 0 12px;
}

.carousel-suites .slick-dots {
    bottom: -40px;
}

.carousel-suites .slick-dots li button::before {
    content: '\25A0';
    font-size: 32px;
}

.carousel-suites .slick-arrow {
    width: 22px;
    height: 40px;
    background-color: transparent !important;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

.carousel-suites .slick-arrow:before {
    content: '';
}

.carousel-suites .slick-prev {
    left: -20px;
    background-image: url('images/arrow-left.png');
}

.carousel-suites .slick-next {
    right: -20px;
    background-image: url('images/arrow-right.png');
}

@media only screen and (min-width: 480px) {
    .carousel-suites .suite-box-data {
        padding-bottom: 90px;
    }

    .carousel-suites .suite-box-detail {
        margin-top: 0;
        margin-left: 20px;
        float: left;
    }
    
    .carousel-suites .suite-box-detail:first-of-type {
        margin-left: 0;
    }

    .carousel-suites .suite-box-button {
        width: auto;
        display: inline-block;
        float: left;
    }

    .carousel-suites .suite-box-price {
        margin-top: 0;
        text-align: right;
        float: right;
    }

    .carousel-suites .slick-prev {
        left: -30px;
    }

    .carousel-suites .slick-next {
        right: -30px;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-suites .suite-box-title {
        line-height: 32px;
    }

    .carousel-suites .suite-box-button {
        padding: 15px 25px;
    }

    .carousel-suites .suite-box-price .price {
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .carousel-suites .suite-box-details {
        margin-bottom: 25px;
    }

    .carousel-suites .suite-box-detail p {
        font-size: 14px;
    }

    .carousel-suites .suite-box-button {
        padding: 15px 40px;
    }

    .carousel-suites .suite-box-price .price {
        font-size: 24px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-suites .suite-box-title {
        height: 38px;
        font-size: 22px;
        line-height: 38px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1400px) {
    .carousel-suites .slick-prev {
        left: -50px;
    }

    .carousel-suites .slick-next {
        right: -50px;
    }
}


/* ND Booking Custom
-------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .nd_booking_section form .nice-select {
        padding: 0 30px 0 30px !important;
        width: 100%;
    }    

    .nd_booking_section form .nice-select:after {
        right: 20px !important;
    }

    .current {
        width: auto !important;
        max-width: none !important;
    }
}

.nd_booking_section form .nice-select {
    height: 42px;
    max-width: 100%;
    line-height: 40px;
    padding-left: 0px;
    font-family: 'Cinzel', serif;
    border: 0;
}

.nd_booking_section form .nice-select .current {
    width: 190px;
    height: 42px;
    max-width: 100%;
    font-size: 16px;
    line-height: 42px;
    color: #1c1c1c;
    display: block;
    white-space: pre-wrap;
}

.nd_booking_section form .nice-select:after {
    width: 12px;
    height: 12px;
    background-image: url('images/icon-down-arrow-grey.svg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    top: initial;
    bottom: 15px;
    right: 6px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.nd_booking_section form .nice-select .list {
    border-radius: 0;
}

.nd_booking_section form .nice-select .list li:first-of-type {
    display: none;
}

.nd_booking_section form .nice-select .option.selected {
    font-weight: normal;
}

.nd_booking_section form input {
    background: none !important;
    border: 1px solid #878787;
}

.nd_booking_section form input::-webkit-input-placeholder {
    font-weight: 100;
    color: #878787 !important;
}
.nd_booking_section form input:-moz-placeholder {
    font-weight: 100;
    color: #878787 !important;
}
.nd_booking_section form input::-moz-placeholder {
    font-weight: 100;
    color: #878787 !important;
}
.nd_booking_section form input:-ms-input-placeholder {
    font-weight: 100;
    color: #878787 !important;
}

.nd_booking_section form button[type=submit] {
    margin: 0;
}

.nd_booking_bg_greydark,
#nd_booking_slider_range .ui-slider-range,
#nd_booking_slider_range .ui-slider-handle,
.ui-tooltip.nd_booking_tooltip_jquery_content,
.ui-datepicker,
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span,
.nd_booking_bg_greydark_2,
.ui-datepicker .ui-datepicker-header {
    background-color: #292e46 !important;
}

.nd_booking_bg_yellow,
.nd_booking_btn_pagination_active, .ui-datepicker-today a {
    background-color: #a29c87 !important;
}

/* Exclusive Experiences Page
-------------------------------------------------------------- */

.wpb-js-composer .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list {
    text-align: center;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body {
    padding: 0 !important;
    padding-top: 60px !important;
    overflow: visible;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
    background: transparent !important;
    border: 0 !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
    padding: 8px 0 !important;
    font-size: 16px;
    line-height: 16px;
    background: transparent !important;
    color: #292e46 !important;
    text-transform: uppercase !important;
    border: 0 !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
    margin-left: 20px !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a {
    border-bottom: 2px solid #292e46 !important;
}


/* The Grid Plugin
-------------------------------------------------------------- */

.tg-grid-wrapper .tg-filter {
    margin-bottom: 0;
}

.tg-grid-wrapper .tg-filter-name {
    padding: 6px 28px !important;
    font-weight: 100 !important;
    text-transform: uppercase;
}

.tg-grid-wrapper .tg-grid-area-top1:after {
    height: 62px;
    content: '';
    background-color: #ffffff;
    display: block;
}

.tg-grid-wrapper .tg-filter.tg-nav-color.tg-nav-border.tg-nav-font.tg-show-filter.tg-filter-active span {
    background-color: #ffffff;
}

.tg-grid-wrapper .tg-filter.tg-nav-color.tg-nav-border.tg-nav-font.tg-show-filter.tg-filter-active span:after {
    position: absolute;
    left: 50%;
    transform: translate( -50%,-7px);
    bottom: -20px;
    font-size: 10px;
    font-weight: 700;
    font-family: 'simple-line-icons';
    content: '\e604';
    box-shadow: none;
    height: auto;
}

.tg-grid-wrapper .tg-icon-add {
    display: none !important;
}

.tolb-holder .tolb-title {
    display: none;
}


/* Hotel Tab
-------------------------------------------------------------- */

.hotel-tab {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 30px;
    color: #1c1c1c !important;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.hotel-tab .hotel-tab-city {
    padding-bottom: 2px;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.hotel-tab.active .hotel-tab-city {
    border-bottom: 1px solid #1c1c1c;
}

.hotel-tab img {
    width: 80px;
    height: auto;
    max-width: 100%;
    margin-bottom: 5px;
}

#hotel-tab-contents .hotel-name ~ .hotel-name,
#hotel-tab-contents .carousel-suites ~ .carousel-suites {
    display: none;
}

.hotel ~ .hotel {
    display: none;
}

@media only screen and (min-width: 768px) {
    .hotel-tab {
        width: 33.333333333%;
    }
}

@media only screen and (min-width: 1200px) {
    .hotel-tab {
        width: auto;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: none;
    }

    .hotel-tab + .hotel-tab {
        margin-left: 45px;
    }
}


/* Widget Book Now
-------------------------------------------------------------- */

.logged-in #book-now-widget {
    top: 174px;
}

#book-now-widget {
    width: 580px;
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgba(41, 46, 70, 0.85);
    color: #ffffff;
    position: fixed;
    top: 142px;
    right: 40px;
    z-index: 998;
    display: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.logged-in #book-now-widget.sticky {
    top: 122px;
}

#book-now-widget.sticky {
    top: 90px;
}

#book-now-widget.active {
    display: block;
}

#book-now-widget .close-icon:after {
    font-family: 'simple-line-icons';
    font-size: 18px;
    content: '\e082';
    color: #ffffff;
    display: inline-block;
}

#book-now-widget .fields {
    margin: 0 -10px 20px -10px;
}

#book-now-widget .field-60 {
    padding: 0 10px;
    width: 70%;
    float: left;
    box-sizing: border-box;
}

#book-now-widget .field-30 {
    padding: 0 10px;
    width: 35%;
    float: left;
    box-sizing: border-box;
}

#book-now-widget .field-20 {
    padding: 0 10px;
    width: 15%;
    float: left;
    box-sizing: border-box;
}

#book-now-widget .fields:after {
    content: '';
    display: block;
    clear: both;
}

#book-now-widget .nice-select {
    width: 100%;
    border-radius: 0;
}

#book-now-widget .nice-select .current {
    font-family: 'Cinzel', serif;
    font-size: 12px;
    color: #878787;
}

#book-now-widget .nice-select .list li {
    font-family: 'Cinzel', serif;
    font-size: 12px;
    color: #878787
}

#book-now-widget label {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #a29c88;
    display: block;
}

#book-now-widget input {
    width: 100%;
    height: 42px;
    padding-right: 30px;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    position: relative;
}

#book-now-widget .calendar-input {
    display: inline-block;
    position: relative;
}

#book-now-widget .calendar-input:after {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 10px;
    background-image: url('images/calendar-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: inline-block;
}

#book-now-widget .submit-button {
    padding: 15px 40px;
    background-color: #a29c88;
    color: #ffffff;
    font-size: 11px;
    line-height: 11px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}


/* DA RIVEDERE */

.full-width .vc_figure,
.full-width .vc_single_image-wrapper {
    display: block !important;
}

.full-width img {
    width: 100%;
}

.margin_bottom_30 {
    margin-bottom: 30px;
}

.margin_bottom_60 {
    margin-bottom: 60px;
}

.nd_options_masonry_content > .nd_options_width_33_percentage:nth-child(3) .nd_options_color_white {
	padding-right: 30px;
}

#nd_booking_single_cpt_1_similar_rooms {
	background-color: #ffffff;
}

.book-now-button {
    font-size: 12px;
    padding: 10px 40px;
}

.view-more-button {
    font-size: 11px;
    line-height: 11px;
    padding: 8px 16px;
}

.width-30 {
	width:30px;
	margin:auto;
}

.book-now {
	padding: 15px 40px;
    color: white;
    font-size: 11px;
    line-height: 11px;
}

#background-image-overlay:before {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    content:'';
    display:block;
    background-color: rgba(0,0,0,0.5);
}

.nd_options_section.nd_options_masonry_content h5,
.nd_options_section.nd_options_masonry_content .nd_options_height_1 {
    display: none !important;
}

.postid-65 .wpb_raw_code.wpb_raw_js > div > div {
    margin: 0 auto;
}

#around-the-hotel-overview {
    display: none;
}

/* INIZIO DA SISTEMARE SU PHP */

#nd_options_navigation_top_header_2_right .nd_options_color_white.nd_options_first_font,
#nd_options_navigation_top_header_2_right .nd_options_section.nd_options_height_5 {
    display: none;
}

#nd_options_navigation_top_header_2_right .nd_options_display_table {
    background-color: transparent !important;
}

#nd_options_navigation_top_header_2_right h6 a {
    color: #878787 !important;
}

/* FINE DA SISTEMARE SU PHP */

/* slider-rooms */
.squares-container {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .slider-rooms .rooms {
        margin: 10px 0;
    }

    .main-room {
        background-color: #fff;
        height: fit-content;
    }

    .other-rooms {
        display: none;
    }

    .room-detail {
        display: none;
    }

    .squares-container {
        display: block;
        text-align: center;
    }

    .square-room {
        border: 2px solid #a29c88;
        background-color: #ffffff;
        padding: 11px; 
        margin: 10px;
    }

    .square-room.active {
        border: 2px solid #a29c88;
        background-color:#a29c88; 
        padding: 11px; 
        margin: 10px;
    }

    .room-button {
        padding: 15px 15px !important;
    }

    .slider-rooms .main-room .room {
        border: none;
    }

    .slider-rooms .room-price .price {
        font-size: 20px;
    }
}

/* slider-experiences */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .other-experiences {
        display: none;
    }
    
    .slider-experiences .main-experience .experience {
        border: none;
    }

    .main-experience {
        background-color: #fff;
        height: fit-content;
        border: 1px solid #eaebed;
    }

    .experience-details {
        display: none;
    }    

    .square-experience {
        border: 2px solid #a29c88;
        background-color: #ffffff;
        padding: 11px; 
        margin: 10px;
    }

    .square-experience.active {
        border: 2px solid #a29c88;
        background-color:#a29c88; 
        padding: 11px; 
        margin: 10px;
    }

    .experience-button {
        padding: 15px 15px !important;
    }
}

/* Footer */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-bottom-bar {
        text-align: center;
    }
}